.PostShare{
    display: flex;
    gap: 1rem;
    background-color: var(--cardColor);
    padding: 0.5rem 0;
}

.PostShare>img{
    border-radius: 50%;
    width: 2.5rem;
    height: 2.5rem;
}

.input textarea{
    background-color: var(--inputColor);
    border-radius: 10px;
    padding: 10px;
    font-size: 12px;
    border: 1px solid black;
    width: 96%;
}




