.LogoSearch{
    display: flex;
    
}

.Search{
    display: flex;
    justify-content: space-between;
    width: 280px;
    background-color: var(--inputColor);
    border-radius: 8px;
    padding: 4px;
    border: 1px solid black;
    margin-bottom: 0.5rem;
}

.Search>input{
    background-color: transparent;
    border:none;
    outline: none;
}

.s_icon{
    display: flex;
    justify-content: space-between;
    background: linear-gradient(106.23deg);
    border-radius: 5px;
    padding: 4px;
    color: #F45046;
}

.s_icon:hover{
    cursor: pointer;
}