.headers {
    position: sticky;
    top:0;
    margin: auto;
    background-color: white;
    max-width: 1300px;
    margin-bottom: 2rem;
}
.header {
    display: flex;
    justify-content: space-between;
    height: 65px;
    margin-top: -2rem;
}

.logo {
    display: flex;
}